<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mi perfil</title>
    <link rel="stylesheet" href="./perfil.component.css" />
  </head>
  <body>
    <nav id="Navegacion">
      <app-navbar></app-navbar>
    </nav>
    <main class="box">
      <div class="contenedor">
        <div class="up">
          <h3>Información personal</h3>
        </div>
        <div class="left">
          <div class="left">
            <ul class="lista">
              <li>Nombre</li>
              <br />
              <li>Apellidos</li>
              <br />
              <li>Correo</li>
              <br />
              <li>Edad</li>
              <br />
              <li>Sexo</li>
              <br />
              <li>IMC</li>
            </ul>
          </div>
        </div>
        <div class="right">
          <ul class="lista">
            <li>Natalia</li>
            <br />
            <li>L M</li>
            <br />
            <li>zs21004496@estudiantes.uv.mx</li>
            <br />
            <li>19</li>
            <br />
            <li>Femenino</li>
            <br />
            <li>23.0</li>
          </ul>
        </div>
      </div>
      <hr />
    </main>
    <div class="btn-back">
      <img
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAAXNSR0IArs4c6QAAAKtJREFUOE/N0+ENgjAQhuG3E+gKbOAGwihu5gg6gbIBIzACTqD5CCSlKdzZECMJv9o87d3XC+z4hR0tfoodgRq4eSrYupmgB3ACKqC3wDUshi7A1YK0nsOKoBxWDKVYDKksV2nAC+hS7AmcPb1J9rRT4oueKTWBB+A+n+bAlfJYRRrADL6B5gtwPDOXZjG49s6KwK0JiEFNwGD1zxp0gfpdz8TCrMss1v8X+wDzGiAUOZD6MQAAAABJRU5ErkJggg=="
      />
      <a href="/home">Regresar</a>
    </div>
  </body>
</html>
