body{
  width: 100%;
  height: 100vh;
  background-color: white;
}

.box{
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  padding: 5%;

}

main .contenedor{
  box-sizing: border-box;
  background-color: #b6d6fc;
  border-radius: 2rem;
  width: 60%;
  height: 115%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1rem;
}

.up{
  grid-column: 1/3;
  grid-row: 1;
}

.left{
  grid-column: 1/2;
  grid-row: 2;
}

.right{
  grid-column: 2/3;
  grid-row: 2;
}

.up h3{
  font-size: 1.5rem;
}

ul{
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
}

ul li{
  font-size: 1rem;
}

.btn-back{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

a:link, :visited, :hover, :active {
  color: black;
}

/*Responsive*/

@media (max-width: 768px) {
  .box{
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
  }
  main .contenedor{
    width: 80%;
    height: 80%;
    padding: 20px;
  }
  .btn-back{
    padding-left: 0;
    justify-content: center;
  }
}
