<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mi perfil</title>
  <link rel="stylesheet" href="./perfil.component.css">
</head>

<body>
  <app-navbar></app-navbar>
  <main class="box">
    <div class="contenedor">
      <div class="up">
        <h3>Información personal</h3>
      </div>
      <div class="left">
        <div class="left">
          <ul class="lista">
            <li>Nombre</li><br>
            <li>Apellidos</li><br>
            <li>Correo</li><br>
            <li>Edad</li><br>
            <li>Sexo</li><br>
            <li>IMC</li><br>
            <li>Estatura </li><br>
            <li>Nivel estrés</li>
          </ul>
        </div>
      </div>
      <div class="right">
        <ul class="lista">
          <li> {{Nombre_Usuario}} </li><br>
          <li> {{Apellido_Usuario}} </li><br>
          <li> {{Correo_Usuario}} </li><br>
          <li> {{Edad_Usuario}} </li><br>
          <li> {{Sexo_Usuario}} </li><br>
          <li> {{IMC_Usuario}} </li><br>
          <li> {{Estatura_Usuario}} </li><br>
          <li> {{NivelEstres_Usuario}} </li>
        </ul>
      </div>
    </div>
    <hr>

  </main>
  <div class="btn-back">
    <img
      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAAXNSR0IArs4c6QAAAKtJREFUOE/N0+ENgjAQhuG3E+gKbOAGwihu5gg6gbIBIzACTqD5CCSlKdzZECMJv9o87d3XC+z4hR0tfoodgRq4eSrYupmgB3ACKqC3wDUshi7A1YK0nsOKoBxWDKVYDKksV2nAC+hS7AmcPb1J9rRT4oueKTWBB+A+n+bAlfJYRRrADL6B5gtwPDOXZjG49s6KwK0JiEFNwGD1zxp0gfpdz8TCrMss1v8X+wDzGiAUOZD6MQAAAABJRU5ErkJggg==" />
    <a href="/tareas">Regresar</a>
  </div>
</body>

</html>