body {
  width: 100%;
  height: 100vh;
  margin: 0;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: rgb(32, 32, 122);
  font-family: "Inter", sans-serif;
  background: rgb(3, 76, 140);
  background: linear-gradient(
    90deg,
    rgba(3, 76, 140, 1) 0%,
    rgba(3, 76, 140, 1) 100%
  );
}

main {
  height: 450px;
  width: 600px;
  border-radius: 1rem;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow: hidden;
}

main .contenido {
  padding: 12px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

main .imagen-luzio {
  background-image: url(../../assets/luzio_test.jpg);
  background-size: 110%;
  background-position: center;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
}

.titulo {
  font-family: "Josefin Sans";
  font-size: 28px;
  display: flex;
  align-items: center;
  text-align: justify;
  color: #000000;
  margin: 0;
}

.texto {
  font-style: normal;
  font-size: 16px;
  display: flex;
  align-items: center;
  text-align: justify;
  color: #000000;
}

button {
  background: rgb(3, 76, 140);
  background: linear-gradient(
    90deg,
    rgba(3, 76, 140, 1) 0%,
    rgba(3, 76, 140, 1) 100%
  );
  color: white;
  border-radius: 5px;
  border: none;
  width: 8rem;
  height: 2rem;
  font-size: 1rem;
}

@media screen and (max-width: 400px) {
  main {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    height: 100%;
    border-radius: 0;
  }
}
