* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

h1 {
  font-family: "Josefin Sans";
}

.navbar {
  background: linear-gradient(
      90deg,
      #0078d2 0%,
      rgba(0, 117, 205, 0.593594) 50%,
      rgba(0, 116, 204, 0.49) 100%
    ),
    url("../../assets/LuzioEspacial.png"), #1877f2;

  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-around;
  align-items: center;
  line-height: 5rem;
}
.icon {
  width: 30px;
  height: 30px;
}

.left h1 {
  font-size: 2.5rem;
  cursor: pointer;
}

.checkBtn {
  display: none;
}

#check {
  display: none;
}

.checkBtn {
  cursor: pointer;
  font-size: 30px;
  float: right;
  color: #ed1e79;
  line-height: 80px;
}

.right ul {
  display: flex;
  list-style: none;
}

.right ul li a {
  padding: 10px 20px;
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
  text-decoration: none;
  transition: all 1s;
}

.right ul li a:hover {
  background-color: #fff;
  border-radius: 7px;
  color: rgb(22, 7, 36);
}

@media screen and (max-width: 805px) {
  .list {
    width: 100%;
    height: 100vh;
    background-color: rgb(22, 7, 36);
    text-align: center;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 4rem;
    left: 100%;
    transition: all 1s;
  }
  #check {
    display: none;
  }
  .checkBtn {
    display: block;
  }
  #check:checked ~ ul {
    left: 0%;
  }
}
