<body>
  <nav class="navbar">
    <div class="left">
      <h1>Dr. Luzio</h1>
    </div>
    <div class="right">
      <input type="checkbox" id="check" />
      <label for="check" class="checkBtn">
        <i class="fa fa-bars"></i>
      </label>
      <ul class="list">
        <li>
          <a href="tareas">
            <img class="icon" src="../../assets/casa.png" />
          </a>
        </li>
        <li>
          <a href="/perfil">
            <img class="icon" src="../../assets/image.png" />
          </a>
        </li>
        <li>
          <a href="/comentarios">
            <img class="icon" src="../../assets/conversacion.png" />
          </a>
        </li>
        <li>
          <a href="/login" (click)="cerrarSesion()">
            <img class="icon" src="../../assets/cerrar-sesion.png" />
          </a>
        </li>
      </ul>
    </div>
  </nav>
</body>
