body{
  height: 100vh;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
}

main{
  /* height: 500px; */
  width:800px;
  border-radius: 1rem;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow: hidden;
}
main .imagen-luzio{
  background-image: url(./assets/LuzioDoctor.png);
  background-size: cover;
  background-position: center;
  width: 100%;
}
main .isesion{
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  box-sizing: border-box;
  top: 50%;
}

.infoUsuario{
  padding: 2rem 0;
  width: 100%;
}

input:invalid{
  border: 1px solid rgb(92, 92, 92);
}

input:invalid:required{
  border: 2px solid black;
}

input:valid{
  border: 1px solid black;
}

.namepage{
  margin: 0;
  font-family: 'Josefin Sans';
  font-weight: 550;
  font-size: 2rem;
}

h1{
  margin: 0;
  font-size: 1rem;
}

#form-isesion{
  display: flex;
  flex-direction: column;
  margin: 30px 0;
  width: 100%;
  gap: 20px;
}
label{
  text-align: left;
  font-size: 15px;
}
input{
  box-sizing: border-box;
  padding: 10px;
  border-radius: 4px;
  border: solid;
  border-width: 1px;
  width: 100%;
}

.botones{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

button{
  display:flex;
  align-items: center;
  padding: 10px;
  border: solid;
  border-width: 1px;
  background-color: var(--verde-btn);
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
}

#btn{
  height: 2.4rem;
  width: 5rem;
  display:flex;
  align-items: center;
  padding: 10px;
  border: solid 1px;
  background-color: var(--verde-btn);
  border-radius: 4px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}

.btnRegistro{
  text-align: center;
  background-color: aliceblue;
  }

/* a{
    text-decoration: none;
  } */

.btn-social{
  border: none;
  background-color:transparent;
}


/* footer */
.footer{
display: flex;
flex-direction:row;
align-items: center;
justify-content: center;
width: 100%;
height: 1rem;
}

/* Adaptable (Responsivo) */

@media screen and (max-width: 400px) {
  main{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    border-radius: 0;
  }
  main .imagen-luzio{
    grid-row: 1;
  }
  main .isesion{
    box-sizing: border-box;
    grid-row: 2;
  }
  main .isesion .infoUsuario{
    justify-content: center;
  }
  main .isesion{
    justify-content: center;
  }
}


