<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/src/app/test/test.component.css">
    <title>Test de estrés</title>
</head>
<body>
    <main>
        <div class="contenido">
            <h1 class="titulo">Test de estrés</h1>
        <br>
        <p class="texto">
            Para completar el registro responde
            las siguientes preguntas. En cada caso,
            por favor indica con total honestidad
            cómo te has sentido ante cada situación
            durante el último mes.
            <br><br>
            Al finalizar podrás ver tu resultado.
        </p>
        <br>
        <a routerLink="/preguntas">
            <button class="btn-verde" title="Home">Continuar</button>
        </a>
        </div>
        <div class="imagen-luzio">
        </div>
    </main>
</body>
</html>
